<html>
    <style>
        body {
          background-color: rgb(47, 255, 82);
          text-align: center;
        }
        </style>
    <body>
        <div class ="form-container">
            <div class="address">
                <h1>Contact Us</h1>
                <address>
                <h3><b><strong>Swetha Hotel</strong></b><br></h3>
                    Muncipal Corporation Office, Ambedkar Stadium Rd, beside Bus Stand Circle<br><br>
                    Mukarampura, Karimnagar, Telangana 505001<br>
                    India
                </address><br>
                <contact.no>
<h3><b><strong>Contact.No</strong></b><br></h3>
                    +91-9676100333<br><br> +91-9676400333<br>
                    </contact.no>
                    <Email>
                       <h3><b><strong>Email</strong></b><br></h3>
                       reservations@hotelswetha.com<br><br>banquets@hotelswetha.com 
                   </Email>
                   <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d121114.61477019914!2d79.10675392204588!3d18.445948554901204!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bccd93da7a843bf%3A0x8ebb3700f7840231!2sHotel%20Swetha!5e0!3m2!1sen!2sin!4v1691602727986!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
                   <a href="contact.html">Feedback</a>
                </body>
            </html>
