<html>
    <head><title>this is a types</title>
    </head>
        
            <style>
                body {
                  background-color: rgb(231, 47, 255);
                  text-align: center;
                }
             </style>
             <body>
                <div class="container">
                    <h1>Feedback</h1>
                    <h3><p>Have questions or feedback ? <br><br>Reach out to us using the form below.</p></h3><br>
                <form id="contactform">
                <b><label for="name">Name:</label></b>
                <input type="text"id="name"name="name" required><br><br><br>
               <b><label for="email">Email:</label></b>
                <input type="text"id="email"name="email" required><br><br><br>
               <b><label for="phone.no">Phone.No:</label></b>
                <input type="text"id="phone.no"name="phone.no" required><br><br><br>
               <b><label for="address">Address:</label></b>
                <input type="text"id="address"name="Address" required><br><br>
                <b>Message:</b><br>
                <textarea id=Message"name="Message"rows="30"cols="50"></textarea><br><br>
                  <button type="button" onclick="submitForm()">Submit</button>
    </form>        
        </div>
             </body>
             </html>