<html>
    <head>
        <title>List of items</title>
    </head>
        <body>
            <style>
               body {
                 background-color: rgb(255, 47, 175);
                 text-align: center;
               }
            </style>
            
            <h1><b>Types of items</b><h1>
                
                    <h1><li>puri</li></h1>
              masala puri&nbsp;&nbsp;&nbsp;&nbsp;100<br>
              paneer puri&nbsp;&nbsp;&nbsp;&nbsp;400<br>
              tomato puri&nbsp;&nbsp;&nbsp;&nbsp;300<br>
              potato puri&nbsp;&nbsp;&nbsp;&nbsp;200<br>
            </li>
             <h1><li>vada</li></h1>
              palaak vada&nbsp;&nbsp;&nbsp;&nbsp;200<br>
              masala vada&nbsp;&nbsp;&nbsp;&nbsp;300<br>
              daahii vada   &nbsp;&nbsp;&nbsp;&nbsp;500<br>
              vaadaa pav    &nbsp;&nbsp;&nbsp;&nbsp;400<br>
                     </li>
                            <h1><li>dosa</li></h1>
                            masala dosa&nbsp;&nbsp;&nbsp;&nbsp;300<br>
                            onionn dosa&nbsp;&nbsp;&nbsp;&nbsp;100<br>
                            tomato dosa&nbsp;&nbsp;&nbsp;&nbsp;400<br>
                            potato dosa&nbsp;&nbsp;&nbsp;&nbsp;200<br>
                             </li>
                              <h1><li>Idle</li></h1>
                              masala idle&nbsp;&nbsp;&nbsp;&nbsp;500<br>
                              paneer idle&nbsp;&nbsp;&nbsp;&nbsp;400<br>
                              tomato idle&nbsp;&nbsp;&nbsp;&nbsp;300<br>
                              potato idle&nbsp;&nbsp;&nbsp;&nbsp;200<br>
                             </li>
                             <br><br>
                             <a href="address.html">address</a>
                               </body>
            </html>


                            