<html>
    <head><title>this is a types</title>
    </head>
        <body>
            <style>
                body {
                  background-color: rgb(161, 47, 255);
                  text-align: center;
                }
             </style>
             
             <h1><b>List of items</b><h1></h1>
             <h1><li>puri</li></h1>
             <br><br><br>
                     <h1><li>vada</li></h1>
                     <br><br><br>
                            <h1><li>dosa</li></h1>
                            
                         <br> <br><br>
                             <h1><li>Idle</li></h1>
                             <br> <br><br>
                             <a href="lists.html">Types</a>
                                
                
             </body>
             </html>

